
<form  (ngSubmit)="saveForm(f)"   #f="ngForm" class="form-container">
 
     
     
    
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <input name="nom" ngModel [ngModel]="profile.nom"  matInput placeholder="Nom"  required>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <input name="prenom" ngModel [ngModel]="profile.prenom"  matInput placeholder="Prénom" required>
        </mat-form-field>
      </div>
    </div>
    <br>


    <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input type="text"  name="tel" ngModel [ngModel]="profile.tel" matInput placeholder="Tél (+216)" required>
          </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="full-width" >
                <mat-label>Date De Naissance</mat-label>
                <input type="text"  name="date_de_naissance" ngModel [ngModel]="profile.date_de_naissance"  matInput [matDatepicker]="picker" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>            
        </div>
      </div>
      <br>




    
    <div class="row">
        <div class="col-sm-6">
            <mat-radio-group  name="genre" ngModel [ngModel]="profile.genre" class="margin-left" required >
                <mat-radio-button value="Homme"> Homme  </mat-radio-button>
                <mat-radio-button value="Femme"> Femme </mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="col-sm-6">
            <mat-form-field  class="full-width" appearance="fill" required>
                <mat-label>Role</mat-label>
                <select matNativeControl name="type_utilisateur" ngModel [ngModel]="profile.type_utilisateur" >
                    <option value="Client">Client</option>
                    <option value="Expert">Expert</option>
                    <option value="Technicien">Technicien</option>
                    <option value="Admin">Admin</option>
                </select>
              </mat-form-field>


        </div>

    </div> 
    
  

    <button  mat-raised-button color="primary" [disabled]="f.invalid" >Enregistrer</button>

</form>