<div id="portfolio" class="our-portfolio section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading  wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <h2><em>Explorez nos</em><span> offres </span></h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <a routerLink="/login">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
              <div class="hidden-content">
                <h4>Surveillance du système</h4>
                <p> les fonctionnalités de surveillance et les tickets générés par le système </p>
              </div>
              <div class="showed-content">
                <img src="assets/images/3.jpg" alt="">
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6">
          <a routerLink="/login">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.4s">
              <div class="hidden-content">
                <h4>Gestion des problèmes</h4>
                <p> diagnostiquer et de résoudre les problèmes dans votre environnement informatique</p>
              </div>
              <div class="showed-content">
                <img src="assets/images/6.jpg" alt="">
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6">
          <a routerLink="/login">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.5s">
              <div class="hidden-content">
                <h4>Surveillance du système</h4>
                <p>les tickets générés par le système est le fondement du support proactif</p>
              </div>
              <div class="showed-content">
                <img src="assets/images/1.jpg" alt="">
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6">
          <a routerLink="/login">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.6s">
              <div class="hidden-content">
                <h4>Développement de solution</h4>
                <p>Les tickets IT peuvent inclure des demandes de fonctionnalités et des commentaires utilisateurs</p>
              </div>
              <div class="showed-content">
                <img src="assets/images/2.jpg" alt="">
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
