<br><br><br>
<br><br><br><br>
<mat-tab-group mat-align-tabs="center">

    <mat-tab  label="Tous les Rapports">
        <br><br>


        
<div class="container">
    <div class="row">
      <div class="offset-3 col-8">
        <div class="search-div">
        
          <mat-form-field class="search-form-field" floatLabel="never">
            <input matInput [(ngModel)]="searchKey" placeholder="Chercher" autocomplete="off" (keyup)="applyFilter()">
            <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
      
    
    
      </div>
    </div>
            
          
          <div class="mat-elevation-z8">
            <mat-table [dataSource]="usersDataSource"  matSort   >
              <ng-container matColumnDef="id_type">
                <mat-header-cell  *matHeaderCellDef mat-sort-header >ID</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.id_type}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="date">
                <mat-header-cell  *matHeaderCellDef mat-sort-header  >date</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.date|date}}</mat-cell>
              </ng-container>
              
              <ng-container matColumnDef="adresse">
                <mat-header-cell  *matHeaderCellDef mat-sort-header  >email</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.adresse}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="type_equipement">
                <mat-header-cell  *matHeaderCellDef mat-sort-header  >equipement</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.type_equipement}}</mat-cell>
              </ng-container>

              
              <ng-container matColumnDef="type_probleme">
                <mat-header-cell  *matHeaderCellDef mat-sort-header  >type de problème</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.type_probleme}}</mat-cell>
              </ng-container>

              
              <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef  >Voir Plus</mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <button mat-icon-button  placement="bottom" ngbTooltip="Voir Plus" (click)="openSm(content,row.type_panne)"  ><mat-icon>visibility</mat-icon></button>
                </mat-cell>
              </ng-container>

       
        
              <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef  colspan="6">
                  Loading data...
                </mat-footer-cell>
              </ng-container>
              <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef  colspan="6">
                  No data.
                </mat-footer-cell>
              </ng-container>
          
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        
              <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':usersDataSource!=null}"></mat-footer-row>
              <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(usersDataSource!=null && usersDataSource?.data.length==0)}"></mat-footer-row>
        
            </mat-table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
          </div>
          </div>
    
    
        
    
    
    <br><br><br>

    </mat-tab>






    <mat-tab  label="Mes Rapports">
        <br><br>





               
<div class="container">
    <div class="row">
      <div class="offset-3 col-8">
        <div class="search-div">
        
          <mat-form-field class="search-form-field" floatLabel="never">
            <input matInput [(ngModel)]="searchKey" placeholder="Chercher" autocomplete="off" (keyup)="applyFilter()">
            <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
      
    
    
      </div>
    </div>
            
          
          <div class="mat-elevation-z8">
            <mat-table [dataSource]="usersDataSource1"  matSort   >
              <ng-container matColumnDef="id_type">
                <mat-header-cell  *matHeaderCellDef mat-sort-header >ID</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.id_type}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="date">
                <mat-header-cell  *matHeaderCellDef mat-sort-header  >date</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.date|date}}</mat-cell>
              </ng-container>
              
              

              <ng-container matColumnDef="type_equipement">
                <mat-header-cell  *matHeaderCellDef mat-sort-header  >equipement</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.type_equipement}}</mat-cell>
              </ng-container>

              
              <ng-container matColumnDef="type_probleme">
                <mat-header-cell  *matHeaderCellDef mat-sort-header  >type de problème</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.type_probleme}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef  >Voir Plus</mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <button mat-icon-button  placement="bottom" ngbTooltip="Voir Plus" (click)="openSm(content,row.type_panne)"   ><mat-icon>visibility</mat-icon></button>
                </mat-cell>
              </ng-container>

             
       
        
              <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef  colspan="6">
                  Loading data...
                </mat-footer-cell>
              </ng-container>
              <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef  colspan="6">
                  No data.
                </mat-footer-cell>
              </ng-container>
          
              <mat-header-row *matHeaderRowDef="displayedColumn"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumn;"></mat-row>
        
              <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':usersDataSource1!=null}"></mat-footer-row>
              <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(usersDataSource1!=null && usersDataSource1?.data.length==0)}"></mat-footer-row>
        
            </mat-table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
          </div>
          </div>
    









        <br><br><br>

    </mat-tab>





<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">description de la panne </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
   {{description}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>









    </mat-tab-group>