<header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
          
            <a routerLink="/login" class="logo">
              <h4>Digital<span>Ideas</span></h4>
            </a>
      

            <ul class="nav">
            
              <li class="scroll-to-section" ><a routerLink="/accueil">Accueil</a></li> 
              <li class="scroll-to-section" ><a routerLink="/inscription">Inscrivez-vous</a></li> 
              <li class="scroll-to-section"><div class="main-red-button"><a routerLink="/login"> Se Connecter</a></div></li> 
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>