<div id="contact" class="contact-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <div class="section-heading">
            <h2>s'inscrire et contactez nous</h2>
            <p>vous devez creer un compte et vous pouvez poser vos questions ou passer vos demandes pour spécifier vos problèmes</p>



            
            <div class="phone-info">
              <h4>Pour toute information, appelez-nous : <span><i class="fa fa-phone"></i> <a href="#">+216-22-222-222</a></span></h4>
            </div>
          </div>
        </div>
        <div class="offset-1 col-lg-5 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.25s">
            <div class="col-lg-6 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.25s">
                <div class="top-dec">
                  <img src="assets/images/blog-dec.png" alt="">
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.25s">
          <p>© Copyright 2021 DIGITAL IDEAS. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>